extends layout.jade

append head
    +require("detail.css")
    +require("detail.js")

block title
    title 栾云腾 | 2081

block content
    img(src="images/detail.jpeg").pull-left
    ul.pull-left
        li 姓名：栾云腾
        li 性别：男
        li 年龄：21
        li 专业：物联网工程
        li 学号：1133730106
        li 籍贯：辽宁大连
        li 政治面貌：党员
    div.clearfix
    div
        h3 个人简介
        p 在学习上，学习成绩位列专业前三名，获得过国家奖学金，国家励志奖学金，光华奖学金，多次获得人民奖学金。除了专业学习，他也不忘锻炼自己的专业动手能力，积极参与实验室开发工作。在全国大学生网商大赛等比赛中荣获奖项。
        p 学生工作方面，大一期间作为软件学院的辅导员助理，负责组织了多次活动为年级做了许多事情。号召班级为云南宁蒗贫困学生资助学费等等。目前担任腾讯俱乐部的主席，努力培养俱乐部成员。由于它出色的工作，先后获得哈工大优秀团干部、哈工大优秀学生干部、哈工大社会实践先进个人等荣誉称号。
        p 社会活动方面，与其他学院同学组队报名了由中华青年精英基金会主办的青年中国行大学生社会实践活动，从全国1572支队伍脱颖而出，晋级全国30强，成为全国优秀社会实践团队。
