extends layout.jade

append head
    +require("member.css")
    +require("member.js")

block title
    title 成员 | 2081

block content
    a#luan-yun-teng.member(href="detail.html")
        img(src="images/LuanYunTeng.jpg")
        span 栾云腾
    a#wu-tian-xiong.member(href="#")
        img(src="images/WuTianXiong.jpg")
        span 吴天雄
    a#zhu-yong-qiang.member(href="#")
        img(src="images/ZhuYongQiang.jpg")
        span 朱永强
    a#zhang-jun-kai.member(href="#")
        img(src="images/ZhangJunKai.jpg")
        span 张君凯
    a#da-feng-ge.member(href="#")
        img(src="images/DaFengGe.jpg")
        span 李林枫
